body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 27);
}


.logolink {
    height: 65px;
    margin: 0 20px;
}


.header {
    background-color: #262626;
    overflow: hidden;
    z-index: 3;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}


.nav {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 20px 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    overflow: hidden;
    height: 100%;
    font-size: 25px;
}

.header a:hover {
    background-color: whitesmoke;
    color: black;
}

.home {
    animation: logo 30s infinite;
    float: left;
}





@keyframes logo {
    0%   { background: #0000ff; }
    50%  { background: #ff00ff; }
    100%  { background: #0000ff; }
}

.index {
    height: 100vh;
    width: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    padding-bottom: 0;
}

video {
    position: absolute;
    width: 100%;
    z-index: 0;
}

.over {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0;
    margin-top: 40vh;
    height: 60vh;
    z-index: 2;
    background-color: rgb(128, 128, 128);
    justify-content: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 6%;
    text-align: center;
}





@keyframes rainbow-animation {
    to {
        background-position: 4500vh;
    }
}





a {
    text-decoration: none;
    color: rgb(187, 252, 255);
}


#pc1 {
    float: left;
    margin-left: 15%;
}

#pc3 {
    float: right;
    margin-right: 15%;
}

#pc2 {
    margin: 2% auto;
}

.pc {
    background-color: rgb(128, 128, 128);
    width: 20vw;
    height: 50vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.pc:hover {
    transform: scale(1.05);
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

#tool1, #tool3 {
    float: left;
    margin-left: 32%;
}

#tool2, #tool4 {
    float: right;
    margin-right: 32%;
}

#tool3, #tool4 {
    margin-top: 5%;
    margin-bottom: 10%;
}


.tool {
    background-color: rgb(128, 128, 128);
    color: rgb(0, 0, 0);
    width: 15vw;
    height: 40vh;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.tool:hover {
    transform: scale(1.08);
}

.tool_img {
    width: 100%;
    -webkit-user-drag: none;
}

h6 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 150%;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}



@keyframes slide {
    0% { transform: translateX(100vw); }
    100% { transform: translateX(calc(100vw - 430px)); }
}

.info {
	text-align: left;
	width: 400px;
	background-color: purple;
    padding-top: 1%;
    padding-bottom: 1%;
	float: right;
	position: fixed;
	animation: slide 2s forwards;
	border-style: solid;
	z-index: 5;
	padding-left: 1%;
}

.hide {
    display: none;
}

.red {
    background-color: red;
    border: 1px solid black;
    margin-right: 5%;
    border-radius: 10px;
}







.picture {
    float: left;
    height: 120vh;
    width: 50%;
    top: 0;
    left: 0;
    position: absolute;
}

.text {
    float: right;
    height: 120vh;
    width: 50%;
    top: 0;
    right: 0;
    position: absolute;
}

#picture {
    width: 25vw;
    margin-top: 20%;
    margin-left: 30%;
    margin-bottom: 10%;
    border-radius: 20px;
    position: relative;
}

h3 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 300%;
    margin-top: 20%;
    margin-right: 30%;
    margin-bottom: 7%;
    position: relative;

}

h4 {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    width: 30%;
    position: relative;
    float: left;

}

.description_tool {
    width: 55%;
    height: auto;
    background-color: rgba(169,169,169,1);
    padding: 5%;
    box-shadow: #ffffff;
    border-radius: 5px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: 20%;
    position: relative;
}

.add {
    float: right;
    margin-right: 40%;
    margin-bottom: 50%;
    margin-top: 3%;
    border-radius: 50px;
    border: 3px solid blue;
    background-color: #c7ebff;
    height: 5%;
    width: 20%;
    font-family: Consolas;
    font-weight: bold;
    font-size: 100%;
    position: relative;
}

.add:hover {
    background-color: blue;
    border: 3px solid black;
}

.warn {
    width: 16%;
}

.warning {
    width: 15%;
}

.description_pc {
    width: 55%;
    height: auto;
    background-color: rgba(169,169,169,1);
    padding: 2%;
    box-shadow: #ffffff;
    border-radius: 5px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10%;
    margin-top: 2%;
    position: relative;
    margin-bottom: 20%;
}



.shop-cover {
    width: 100%;
}

.left {
    float: left;
    margin-left: 10%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

.right {
    float: right;
    margin-right: 18%;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    vertical-align: middle;
    font-size: 500%;
    user-select: none;
    -webkit-user-select: none;
    text-decoration: none;
}

.container {
    width: 100vw;
    position: absolute;
    height: 100%;
}

input, textarea {
    position: relative;
    width: 20%;
    height: 8vh;
    margin: 1% 40%;
    font-family: Consolas;
}

#name {
    margin-top: 0;
}

.submit {
    width: 8%;
    margin: 2% 46%;
}

.gg p {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.gg {
    width: 100%;
    text-align: left;
}

.heading_b {
    background-image: linear-gradient(to right,red,orange,yellow,green,blue,indigo,violet,red);
    -webkit-text-fill-color: transparent;  
    font-family: Arial, Helvetica, sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    animation: rainbow-animation 600s linear infinite;
    text-shadow: #000000;
    font-size: 300%;
    user-select: none;
    -webkit-user-select: none;
}

.heading_a {
    font-size: 800%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 16px 16px 24px black;
    user-select: none;
    -webkit-user-select: none;
}

.components {
    width: 25%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.table tr td {
    width: 15%;
}

.subtitle {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 8%;
    margin-bottom: 2%;
    font-size: 300%;
    color: whitesmoke;
}

.banner_a {
    width: 100%;
    background-color: white;
    margin-top: 15%;
    text-align: right;
    display: inline-block;
    text-align: center;

}

.banner_b {
    width: 100%;
    background-color: white;
    margin-top: 15%;
    text-align: left;
    display: inline-block;
    text-align: center;

}

.banner_c {
    width: 100%;
    background-color: white;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    text-align: center;

}

#black {
    margin-left: 0;
    float: left;
    width: 50%;
}

#white {
    margin-right: 0;
    width: 50%;
    float: right;
}

.heading_shop {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    vertical-align: center;
    user-select: none;
    -webkit-user-select: none;
    margin-top: 20%;
    font-size: 300%;
    color: black;
}

.text_shop_a {
    height: 100%;
    width: 50%;
    float: right;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.text_shop_b {
    height: 100%;
    width: 50%;
    float: left;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

#gpu {
    width: 30%;

}

#support {
    width: 40%;

}

#cpu {
    width: 30%;
}

.banner_c p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.add-shop {
    margin-top: 3%;
    border-radius: 50px;
    border: 3px solid blue;
    background-color: #c7ebff;
    height: 10%;
    width: 20%;
    font-family: Consolas;
    font-weight: bold;
    font-size: 100%;
}

.add-shop:hover {
    background-color: blue;
    border: 3px solid black;
}

#faq {
    text-align: center;
}

.question {
    width: 50%;
    background-color: rgb(169,169,169);
    text-align: left;
    margin: 3% 25%;
    padding: 1%;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

summary {
    user-select: none;
    -webkit-user-select: none;
}
